* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(61, 61, 61);
    color: white;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 25px;
    border-bottom: 0.1px solid rgb(73, 73, 73);
}

.search-1 {
    border-radius: 20px;
    width: 800px;
    height: 25px;
    border-style: none;
    padding-left: 30px;
    background-color: rgb(39, 39, 39);
}

.main-search {
    text-align: center;
    margin-top: 170px;
}

.main-search h1 {
    font-family: sans-serif;
    font-size: 80px;
    margin-bottom: 40px;
}

.search-2 {
    border-radius: 30px;
    width: 650px;
    height: 55px;
    border-style: none;
    padding-left: 20px;
    box-shadow: 0.5px 0.5px 5px rgb(0, 0, 0);
}